<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="guest">
	<select id="list_guest" resultType="guestDto">
		select * from guest 
		order by name 
	</select>
	
	<insert id="insert_guest" >
		insert into guest (userid, name, passwd, email, phone, profile_img) 
		values (#{userid}, #{name}, #{passwd}, #{email}, #{phone}, #{profile_img})
	</insert>
	
	<select id="loginCheck" resultType="String">
		select name from guest 
		where userid=#{userid} and passwd=#{passwd} 
	</select>
	
	<select id="view_guest" resultType="guestDto">
		select * from guest 
		where userid=#{userid}
	</select>
	
	<update id="update_guest">
		update guest 
		set passwd=#{passwd}, name=#{name}, email=#{email}, phone=#{phone} 
		where userid=#{userid} 
	</update>
	
	<select id="checkPw" resultType="int">
		select count(*) from guest 
		where userid=#{userid} and passwd=#{passwd} 
	</select>
	
	<select id="idCheck" resultType="int">
		select count(*) from guest 
		where userid=#{userid} 
	</select>
	
	<select id="login_lookup" parameterType="guestDTO" resultType="int">
		select count(userid) from guest 
		where userid=#{userid} 
	</select>
	
</mapper>














