<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="reservations">

	<insert id="insert">
	insert into Reservations (res_idx,userid,room_idx,h_userid,checkin_date,checkout_date,res_state,total_price,res_person)
	values (Reservations_seq.nextval,#{userid},#{room_idx},#{h_userid}
	,#{checkin_date, jdbcType= DATE}
	,#{checkout_date, jdbcType= DATE}
	,#{res_state},#{room_price},#{res_person})
	</insert>
</mapper>














