<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="review">
	<select id="listAll"
		resultType="com.example.stayhere.model.review.dto.ReviewDTO">
		select review_idx, r_title, review_star, review_content,
		userid, write_date, view_count
		from review
		order by review_idx desc
	</select>
</mapper>














