<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="rooms">
	<select id="detail_rooms" resultType="RoomsDTO">
		select * from rooms 
		where room_idx=#{room_idx}
	</select>
</mapper>














