<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="rooms">

	<!-- 룸정보 불러오기 -->
	<select id="getRoomAllList" resultType="roomsDto">
		select *
			from (
				select A.* , rownum as rn
				from ( select
				r.room_idx,
				r.h_userid,
				r.room_name,
				r.room_price,
				r.contents,
				r.city,
				r.country,
				r.address1,
				r.address2,
				r.zipcode,
				r.check_in,
				r.check_out,
				r.beds,
				r.baths,
				r.room_type,
				r.lat,
				r.lng,
				rp.photo1,
				rp.photo2,
				rp.photo3,
				rp.photo4,
				(select count(*) from review where room_idx=r.room_idx)review_cnt,
				(select avg(review_star) from review where room_idx=r.room_idx) review_avg
			from rooms r join room_photo rp on r.room_idx = rp.room_idx
			order by room_idx) A
		) where rn between #{start} and #{end}
	</select>

	<!-- 룸 갯수 불러오기 -->
	<select id="getRoomAllCount" resultType="int">
		select count(*) from rooms
	</select>

	<!-- 룸사진 불러오기 -->
	<select id="getRoomPhoto" resultType="String">
		select photo from
		room_photo
		where room_idx=#{room_idx}
		order by p_idx asc
	</select>
	
	<!-- 검색 옵션 룸 갯수 -->
	<select id="getRoomOptionCount" resultType="int">
		select count(*) from rooms
		where check_in=#{check_in} and check_out = #{check_out}
		or city=#{city}
	</select>
	
	<!-- 룸 옵션 리스트 불러오기 -->
	<select id="getRoomOptionList" resultType="roomsDto">
		select *
			from (
				select A.* , rownum as rn
				from ( select
				r.room_idx,
				r.h_userid,
				r.room_name,
				r.room_price,
				r.contents,
				r.city,
				r.country,
				r.address1,
				r.address2,
				r.zipcode,
				r.check_in,
				r.check_out,
				r.beds,
				r.baths,
				r.room_type,
				r.lat,
				r.lng,
				rp.photo1,
				rp.photo2,
				rp.photo3,
				rp.photo4,
				(select count(*) from review where room_idx=r.room_idx)review_cnt,
				(select avg(review_star) from review where room_idx=r.room_idx) review_avg
			from rooms r join room_photo rp on r.room_idx = rp.room_idx
			where check_in=#{check_in} and check_out=#{check_out}	or city=#{city}
			order by room_idx) A
		) where rn between #{start} and #{end}
	</select>
	
	
</mapper>














