<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="search">
<!-- 숙소검색(지도검색) -->
	<select id="listMap" resultType="com.example.stayhere.model.rooms.dto.RoomsDTO">
	 select * 
	from (
    select A.*, rownum as rn
    from (
	 select a.room_idx,h_userid,room_name,room_price,contents,city,country,
	 address1,address2,beds,baths,max_people,room_type,lat,lng,photo1,photo2,photo3,photo4,
	 (select nvl(round(avg(review_star)),0) from review where a.room_idx=room_idx) as review_star,
	 (select count(*) from review where a.room_idx=room_idx) as review_count
	 from rooms a, room_photo b
	 where a.room_idx=b.room_idx and (room_price between #{lower} and #{higher}) and
	 (beds<![CDATA[>=]]>#{bed} ) and (baths<![CDATA[>=]]>#{bath} ) and
	 (city like #{cityname} or country like #{cityname} or address1 like #{cityname} or address2 like #{cityname}))A
	 ) where review_star <![CDATA[>=]]> #{reviewStar}
	</select>
<!-- 숙소갯수 count -->	
	<select id="countrooms" resultType="int">
	select count(*)
	from (
    select A.*, rownum as rn
    from (
	 select a.room_idx,h_userid,room_name,room_price,contents,city,country,
	 address1,address2,beds,baths,max_people,room_type,lat,lng,photo1,photo2,photo3,photo4,
	 (select nvl(round(avg(review_star)),0) from review where a.room_idx=room_idx) as review_star,
	 (select count(*) from review where a.room_idx=room_idx) as review_count
	 from rooms a, room_photo b
	 where a.room_idx=b.room_idx and (room_price between #{lower} and #{higher}) and
	 (beds<![CDATA[>=]]>#{bed} ) and (baths<![CDATA[>=]]>#{bath} ) and
	 (city like #{cityname} or country like #{cityname} or address1 like #{cityname} or address2 like #{cityname}))A
	 ) where review_star <![CDATA[>=]]> #{reviewStar}
	</select>
<!--검색 주소리스트 -->	
	<select id="address_list" resultType="com.example.stayhere.model.rooms.dto.RoomsDTO">
	select lat,lng,room_name,room_price,photo1
	from (
    select A.*, rownum as rn
    from (
	 select a.room_idx,h_userid,room_name,room_price,contents,city,country,
	 address1,address2,beds,baths,max_people,room_type,lat,lng,photo1,photo2,photo3,photo4,
	 (select nvl(round(avg(review_star)),0) from review where a.room_idx=room_idx) as review_star,
	 (select count(*) from review where a.room_idx=room_idx) as review_count
	 from rooms a, room_photo b
	 where a.room_idx=b.room_idx and (room_price between #{lower} and #{higher}) and
	 (beds<![CDATA[>=]]>#{bed} ) and (baths<![CDATA[>=]]>#{bath} ) and
	 (city like #{cityname} or country like #{cityname} or address1 like #{cityname} or address2 like #{cityname}))A
	 ) where review_star <![CDATA[>=]]> #{reviewStar}
	</select>
</mapper>














