<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.example.stayhere.model.rooms.dto.RoomsDTO" alias="RoomsDTO" />
		<typeAlias type="com.example.stayhere.model.host.dto.HostDTO" alias="HostDTO" />
		<typeAlias type="com.example.stayhere.model.guest.dto.GuestDTO" alias="GuestDTO" />
		<typeAlias type="com.example.stayhere.model.reservations.dto.ReservationsDTO" alias="ReservationsDTO" />
		<typeAlias type="com.example.stayhere.model.wishlist.dto.WishlistDTO" alias="WishlistDTO" />
		<typeAlias type="com.example.stayhere.model.review.dto.ReviewDTO" alias="ReviewDTO" />
	</typeAliases>
 
</configuration>